# คัดลอกไฟล์นี้เป็น .env แล้วใส่ค่าจริงจาก Supabase project ของคุณ
# Project Settings -> API

VITE_SUPABASE_URL=https://mpkwbfosmmiaavjfcenp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_c797J9g4qhbENsCAh4mGMw_IWYQ-2Px
